html 
{
  background: #19181F;

}

.container
{
  color: #fff;
  max-width: 80%;
  margin: 20px auto;

}

.header 
{
  display: flex;
  justify-content: space-between;
  max-width: 90%;
  margin: 40px auto;
  align-items: center;
}

.header .logo
{
  max-width: 150px;
}

 .header .menu button
{
  width: 50px;
  background: none;
  border: none;
}


/* ================================== */
.presentation
{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 70%;
  margin: 200px auto ;
  gap: 50px;
}

.presentation .profile
{
  max-width: 350px;
}
.presentation .profile img
{
  border-radius: 20px;

}

.presentation .bio
{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.presentation .bio h2
{
color: #7159c1;
font-weight: bold;
font-size: 1.7em;
text-transform: uppercase;
margin: 20px 0;
}

.presentation .bio p
{
  font-size: 1.1em;
}

@media(max-width: 769px)
{
  .presentation
  {
    display: flex;
   flex-direction: column;
    max-width: 70%;
    margin: 100px auto 80px;
   align-items: center;
  }
  .presentation .bio
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
/* ================================== */

.web-design
{
  max-width: 70%;
  margin: 30px auto 100px ;
}

.web-design h1::before
{
  content: '';
  display: table;
  width: 40px;
  height: 25px;
  background: #f7df1e;
  margin: 0 20px 0 0 ;

}

.web-design h1
{
  font-weight: bold;
  text-transform: uppercase;
  color: #f7df1e;
  font-size: 1.6em;
  margin: 20px 0;
  display: flex;
  align-items: center;


}

.web-design .cards ul
{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
  align-items: center;
  justify-content: center;

  
}
.web-design .cards .card-item
{
  max-width: 400px;
  transition: all .4s ease-in-out;
}

.web-design .cards .card-item:hover
{
  text-align: center;
  margin: -10px;
  cursor: pointer;  

}

@media(max-width:769px)
{
  .web-design .cards ul
  {
    display: flex;
  }
  .web-design .cards .card-item
{
    max-width: 100%;
    transition: all .4s ease-in-out;
}
}
/* ================================== */

.app-design
{
  max-width: 70%;
  margin: 30px auto 100px;
}

.app-design h1::before
{
  content: '';
  display: table;
  width: 40px;
  height: 25px;
  background: #04d361;
  margin: 0 20px 0 0 ;

}

.app-design h1
{
  font-weight: bold;
  text-transform: uppercase;
  color: #04d361;
  font-size: 1.6em;
  margin: 40px 0;
  display: flex;
  align-items: center;
}

.app-design .card-app ul
{  
  max-width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}

.app-design .card-app .item-app
{
  transform: rotate(45deg);
  max-width: 200px;
  transition: all 1s;
}

.app-design .card-app .item-app:hover
{
  transform: rotate(0deg) scale(1.8);
  transition: .8s;
  z-index: 2000;
  margin-top: 100px;
  margin-bottom: 50px;
  
}

@media(max-width:769px)
{
  .app-design .card-app ul
{  
  max-width: 70%;
  margin: 0 auto;
  display: flex;
}
.app-design .card-app .item-app
{
  transform: rotate(0);
  max-width: 250px;
  transition: all 1s;
}
.app-design .card-app .item-app:hover
{
  transform: rotate(0deg) scale(1);
  transition: .8s;
  z-index: 0;
  margin-top: 0;
  margin-bottom: 0;
  
}
}
/* ========================================= */

footer .icons
{
  display: flex;
  align-items: center;
  justify-content: center;


}

footer .icons .rs
{
  margin: 100px 20px 200px;
  width: 50px;
  transition: all .7s ease-in-out;

}

footer .icons .rs:hover
{
  transform: translateY(-9px);
}

